body{
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.pics-png{
    width: 150px;
}

.card{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    text-align: center;
    color: #2b2839;
    background-color:aqua;
    border-bottom: 6px solid salmon;
    border-radius:4px;
    box-shadow: 20px 10px 5px #2b2839;

}

